

div.container {
    text-emphasis-style: bold;
    border-width: 2px;
    border-radius: 10px;
    padding-top: 20px;
}

h2 {
    text-align: center;
    text-shadow: 10px;
}
form {
    padding-top: 20px;
}
h3 {
    text-align: center;
    text-decoration-color: blue;
}
ul  {
    text-indent: 10px;
}

p {
    text-align: center;
}