
/* text centered in H2 and tried for more shadow. */
h2 {
    text-align: center;
    text-shadow: 10px;
}
/* more space at the top of the form */
form {
    padding-top: 20px;
}

/*  center the H3 text*/
h3 {
    text-align: center;
}

/* Align the text in a paragraph to be centered. */
p {
    text-align: center;
}

